*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

main{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 450px;
    background-color: rgb(255, 187, 0);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 0 2em black;
}

input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 45px;
    flex-direction: row;
}

h1{
    font-size: 35px;
    margin: 30px;
}

.btn-calcular{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0 0 1em black;
}

.btn-calcular:hover{
    width: 220px;
    height: 60px;
    box-shadow: 0 0 2em black;
}

#resultado{
    width: 300px;
    height: 200px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 0 1em black;
    color: white;
    font-size: 18px;
    text-align: center;
    align-items: center;
    
}